<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application>
        <activity
            android:name="com.zoewave.probase.features.xr.glass.GlassesMainActivity"
            android:exported="true"
            android:label="ProBase Glass XR"
            android:requiredDisplayCategory="xr_projected">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.zoewave.probase.features.xr.glass.GoogleTestGlassesActivity"
            android:exported="true"
            android:label="Google Glimmer Test"
            android:requiredDisplayCategory="xr_projected">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.zoewave.probase.features.xr.glass.LiveTranslationActivity"
            android:exported="true"
            android:label="XR Live Translation"
            android:requiredDisplayCategory="xr_projected">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.zoewave.probase.features.xr.glass.ObjectRecognitionActivity"
            android:exported="true"
            android:label="XR Object Recognition"
            android:requiredDisplayCategory="xr_projected">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.zoewave.probase.features.xr.glass.SystemAlertActivity"
            android:exported="true"
            android:label="System Alert"
            android:requiredDisplayCategory="xr_projected"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>
</manifest>
